{% extends 'pages/article_layout.html' %}
{% block article %}
    <h1 class="title is-1"> About Infinity Decentralized </h1>
    <hr/>
    <h2> What It Is </h2>
    Infinity Decentralized is a decentralized search engine that anyone can run and self-host! It is also a custom
    search engine where you can decide what domains to be crawled and included in your own index. The
    code and more information can be found <a href="https://gitlab.com/infinitysearch/infinity-decentralized">
    here on our GitLab</a>.

    <hr/>
    <h2> About Us </h2>
    We are the creators of the centralized search engine, <a href="https://infinitysearch.co">Infinity Search</a>, and
    we created this project to give people more control over the information that they find online.

    <br><br>

{% endblock %}
