{% extends 'pages/article_layout.html' %}
{% block article %}
<h1 class="subtitle is-1"> External Endpoints FAQ</h1>
<hr/>
<h2> What Are External Endpoints?</h2>
External endpoints are URLs that users can specify to get results from other instances of Infinity Decentralized. Since
each instance owner decides what websites that they want to index, many instances will be targeted and more useful for
different categories. As a user of Infinity Decentralized, instead of switching back and forth between the instances
that you like to use, you can be on any instance and always choose which instances to get your results from.

<hr/>

<h2> How should I format the input area? </h2>
Each URL should be on a new line and they should have the following format:
<br><br>
<b>https://the_website_you_want_to_use.com/results_json</b>


<hr/>
<h2> How Do I Find Instances? </h2>
We try to keep our <a href="https://gitlab.com/infinitysearch/infinity-decentralized/-/blob/master/Endpoints.md">GitLab Repository</a> as up to date as possible with a list of all of the the ones that we are aware of. If
you know of one that we do not have listed, <a href="/contact">please let us know!</a>


<br><br>
{% endblock %}
