<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Decentralized - Home</title>
    <meta name="description" content="Decentralized and self-hostable search engine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search"
          href="https://www.infinitydecentralized.com/opensearch.xml">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/bulma_dark.css">
    <link rel="stylesheet" href="/static/css/bulma_nature.css">
    <link rel="stylesheet" href="/static/css/bulma_space.css">
    <script src="/static/js/js-cookie.js"></script>
    <script src="/static/js/theme_top.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/is/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/static/images/is/favicon.ico">
    <link rel="manifest" href="/static/images/is/site.webmanifest">
    <link rel="mask-icon" href="/static/images/is/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body class="Site">
<div id="page_style" class="Site-content page__style page__description">
    <div id="home_content">
        {% include 'pages/home_content.html' %}
    </div>
    <noscript>It appears that your Javascript is disabled. You might want to visit our
                            <a href="/lite/results">lite results</a>.
                        </noscript>

    <div id="rabbit_hole" class="rabbit_hole" style="display: none">
    </div>
</div>
<footer id="footer" class="footer footer-settings"
        style="text-align: center; padding-top: 10px; padding-bottom: 10px; background-color: white">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered is-mobile">
            <a class="column is-one-third" href="/about">
                About
            </a>
            <a class="column is-one-third" href="/privacy">
                Privacy Policy
            </a>
            <a class="column is-one-third" href="/contact">
                Contact
            </a>
        </div>
    </div>
</footer>
<script src="/static/js/theme_bottom.js" defer></script>
<script src="/static/js/home.js"></script>
<style id="custom_css_placeholder_home">

</style>
</body>
</html>
