<div class="content column is-half is-offset-6" style="text-align: right">
    <button class="button" onclick="toggleTheme();"><img id="id-theme-image" src="/static/images/fa/sun.svg" style="width: 16px; height: 16px;"></button>
    <a class="button" href="/default"><img class="icon-spacing" src="/static/images/fa/firefox.svg" style="width: 16px; height: 16px;"><img class="icon-spacing" src="/static/images/fa/chrome.svg" style="width: 16px; height: 16px;"> <img class="icon-spacing" src="/static/images/fa/opera.svg" style="width: 16px; height: 16px;"> <img src="/static/images/fa/plus.svg" style="width: 16px; height: 16px;"></a>
</div>
<div id="home_padding"></div>
<div style="text-align: center;">
    <a href="/" id="logo_home">
        <img id="logo_img_home" src="/static/images/is/is_d_b.png" width="20%" style="min-width: 220px;">
    </a>
</div>

<div class="content column is-half is-offset-one-quarter" style="margin-top: 10px; padding-bottom: 0; margin-bottom: 15px;">
    <form action="/results" method="post" id="input_form" autocomplete="off">
        <div class="field has-addons">
            <div class="control is-expanded">
                <input id="search_query" class="input is-medium" type="search" placeholder="Search for anything on the web"
                       name="Search"
                       autofocus="autofocus" onfocus="this.select()" required>
            </div>
            <div class="control">
                <button class="button input is-medium search-button-icon"><img src="/static/images/fa/search.svg" style="height: 22px; width: 22px;">
                </button>
            </div>
        </div>

<!--        <b>External Endpoints (Optional)</b> <a href="/endpoints">What is this?</a>-->
<!--        <textarea class="textarea" id="external_nodes" name="external_nodes" placeholder="https://example.com/results_json&#10;https://dec.com/results_json">{% if external_node_endpoints|length > 0 %}{% for endpoint in external_node_endpoints %}{{ endpoint }}&#10;{%  endfor %}{% endif %}</textarea>-->

    </form>
<!--    <br>-->
<!--    <button class="button" onclick="load_previous_external_nodes();">Use Previous</button>-->

</div>


<div id="mobile_home"></div>
