{% if current == 'web' %}
    <div class="column" style="padding-top: 0">

        {% if results|length == 0 %}
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        We couldn't find any results for <b>"{{query}}"</b>.
                    </div>
                </div>
            </div>
        {% endif %}

        {% include 'results/results_integrations.html' %}

        {% if removed_links > 0 %}
        <div class="card">
            <div class="card-content">
                <div class="content">
                    {{removed_links}} links were removed from these results due to your <a
                        href="/advanced_settings#id-blacklist-textarea">blacklist</a>.
                </div>
            </div>
        </div>

        {% endif %}

    {% for link in results %}
        <div class="card" id="main_{{ loop.index0 }}">
            <div class="card-content">
                <div class="content">
                    <a href="http://{{ link.url }}" class="toplink" rel="noreferrer noopener">
                        <span> <b>{{ link.title }}</b> </span> </a>
                    <br>
                    <a href="http://{{ link.url }}" class="bottom-url" rel="noreferrer noopener"><img class="cl-site-icons" src="{{link.favicon}}" height="16px" width="16px" style="vertical-align: middle;" onerror="imgError(this);"> http://{{ link.url }}</a>
                    <br>
                    <div class="desc">{{ link.content }}</div>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>

{% endif %}
