/*footer {*/
/*    !*position: absolute;*!*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}

.search-button-icon {
    color: rgb(219, 219, 219)
}

.search-button-icon:hover {
    color: rgb(74, 74, 74);
}

.icon-spacing {
    margin-right: 3px;
}


svg, :before, :after {
    box-sizing: border-box;
    padding: auto;
    margin: auto;
}

.hide {
    display: none;
}

.animate_content {
    animation: animate 3s ease
}

@keyframes animate {
    10% {
        transform: scale(1, 0.004)
    }
    35% {
        transform: scale(0.001, 0.004);
        opacity: 1
    }
    50% {
        transform: scale(0.001, 0.004);
        opacity: 0
    }
    85% {
        transform: scale(1, 0.004);
        opacity: 1
    }
    100% {
        transform: scale(1, 1)
    }
}


.page__description {
    font-weight: 300;
    text-align: center;
}

.page__style {
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.rabbit-grid {
    padding-left: 2%;
    padding-right: 2%;
}

.rabbit-card {
    height: 10vh;
    margin: auto;
    justify-content: center;
    border-radius: 6px;
}

.rabbit-text {
    font-size: 1.75vh;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 100%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    border-radius: 6px;
}

/* back, initially hidden pane */
.back {
    position: absolute;
    transform: rotateY(180deg);
    width: 100%;
    display: table;
    justify-content: center;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}

.back a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#home_padding {
    margin-top: 3%;
}

@media screen and (max-width: 768px) {
    #featured_area {
        display: none;
    }

    #home_message {
        display: none;
    }

    #home_padding {
        margin-top: 3%;
    }
    #firefox_button, #chrome_button, #opera_button {
        display: none;
    }
}
