<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Decentralized Configuration</title>
    <meta name="description" content="Premium search engine">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/is/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/is/favicon_32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/is/favicon_16.png">
    <link rel="manifest" href="/static/images/is/site.webmanifest">
    <link rel="mask-icon" href="/static/images/is/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="search" type="application/opensearchdescription+xml" title="Infinity Search"
          href="https://www.infinitydecentralized.com/opensearch.xml">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/article_layout.css">
</head>
<body class="Site">
<div class="Site-content">
    <div style="text-align: right; padding-left: 20%; padding-right: 20%">
        <div class="column" style="padding-bottom: 0">
            {% if success == True %}
            <div class="column">
                <div class="notification is-success" id="exito" style="text-align: left">
                    <button class="delete" onclick="document.getElementById('exito').hidden=true;"></button>
                    {{ msg }}
                </div>
            </div>
            {% endif %}
            {% if success == False %}
            <div class="column">
                <div class="notification is-danger" id="failure" style="text-align: left">
                    <button class="delete" onclick="document.getElementById('failure').hidden=true;"></button>
                    {{ msg }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    <div style="text-align: center; padding-bottom: 15px; margin-top: 5px;">
        <a href="/" id="logo_article" style="display: inline-block">
            <img id="logo_img_article" src="/static/images/is/is_d_b.png"
                 style="vertical-align:middle; cursor: pointer;" width="150px" alt="">
        </a>
    </div>
    <style id="custom_css_placeholder_article">

    </style>


    <div class="content column is-two-thirds is-offset-2">
        <h1>Crawler Configuration</h1>
        <hr/>
        <form action="/toggle_crawler">

            <b>Crawler Status:</b>
            {% if crawler_status == 'running' %}
            <span style="color: green">Running</span>
            <button class="button is-small">Stop</button>
            {% else %}
            <span style="color: red">Stopped</span>
            <button class="button is-small">Start</button>
            {% endif %}
        </form>
        <br>
        <b>Index Page Count:</b> {{ document_count }}
        <br>
        <b>Index Size:</b> {{ size_in_gb }} (GB)

        <br><br>
        <b>Most Recent Additions:</b>
        <br>
        <div class="column">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
                </thead>
                <tbody>
                {% for page in most_recent_additions %}
                <tr>
                    <td>{{page.title}}</td>
                    <td><a href="http://{{page.url}}">http://{{page.url}}</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br><br>
        <hr/>

        <form action="/update_sites_to_crawl">
            <b>Websites To Crawl:</b>

            <textarea name="sites_to_crawl" class="textarea">{% for website in websites_to_crawl %}{{ website }}&#10;{% endfor %}</textarea>

            <div style="text-align: right">
                <br>
                <button class="button">Update</button>
            </div>
        </form>
        <br>
        <div class="columns">
            <div class="column">
                <form action="/add_url">
                    <b>Add URL To Index:</b>
                    <input class="input" name="url" placeholder="https://infinitysearch.co">
                    <div style="text-align: right">
                        <br>
                        <button class="button">Add</button>
                    </div>
                </form>
            </div>
            <div class="column">
                <form action="/remove_url">
                    <b>Remove URL From Index:</b>
                    <input class="input" name="url" placeholder="https://infinitysearch.co">
                    <div style="text-align: right">
                        <br>
                        <button class="button">Remove</button>
                    </div>
                </form>
            </div>
        </div>

        <br>
        <hr/>
        <br>
        <div class="columns">
            <div class="column">
                <div style="text-align: right">
                    <a class="button" href="/confirm_reset_index"> Reset Index</a>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>
